<div class='rogue-trader chat roll'>
    <div class='background border'>
        <h1>Applied Damage to: </h1>
        <h3>{{target}}</h3>
        <ul style="text-align: left; display: inline-block;">
            {{#each rolls}}
            <li>{{appliedDmg}} {{damageTypeLong type}} as {{source}} </li>
            {{/each}}
        </ul>
        <br>
        <div>Current <b>Wounds: </b>{{totalWounds}}. <b>Critical Damage: </b>{{totalCritWounds}}</div>
    </div>
</div>