<div class="rogue-trader chat roll">
    <div class="background border">
        <h1>{{name}} ({{target}})</h1>
        {{#if isSuccess}}
        <h3><span style="color: var(--color-success)">{{localize "CHAT.SUCCESS"}}</span> ({{result}})</h3>
        {{else}}
        <h3><span style="color: var(--color-failure)">{{localize "CHAT.FAILURE"}}</span> ({{result}})</h3>
        {{/if}}

        <p><strong>{{localize "CHAT.TEST_MODIFIER"}}:</strong> {{modifier}}</p>

        {{#if rolledWith}}
            <p><strong>{{localize "CHAT.ROLLED_WITH"}}:</strong> {{rolledWith}}</p>
        {{/if}}

        {{#if rangeText}}
            <p><strong>{{localize "CHAT.ATTACK_RANGE"}}:</strong> {{rangeText}}</p>
        {{/if}}

        {{#if attackType}}
            <p><strong>{{localize "CHAT.ATTACK_TYPE"}}:</strong> {{attackType.text}}</p>
        {{/if}}

        {{#if isSuccess}}
        <p><strong>{{localize "CHAT.DOS"}}:</strong> {{dos}}</p>
        {{#if numberOfHit}}
        <p><strong>{{localize "CHAT.NUMBER_OF_HIT"}}:</strong> {{numberOfHit}}</p>
        {{/if}}
        {{else}}
        <p><strong>{{localize "CHAT.DOF"}}:</strong> {{dof}}</p>
        {{/if}}
        {{#if psy.display}}
        {{#if psy.push}}
        <p><strong>{{localize "CHAT.PSY_RATING"}}:</strong> {{psy.value}} ({{localize "CHAT.PSY_PUSH"}})</p>
        {{else}}
        <p><strong>{{localize "CHAT.PSY_RATING"}}:</strong> {{psy.value}}</p>
        {{/if}}
        {{#if psy.hasPhenomena}}
        <p><strong style="color: var(--color-failure)">{{localize "CHAT.HAS_PSYCHIC_PHENOMENA"}}</strong></p>
        {{/if}}
        {{/if}}
        {{#each damages as |damage|}}
            <h3 class="separator damage-location" data-location={{location}}>{{localize location}}</h3>
            <div title="{{damage.formula}} | {{localize "CHAT.DAMAGE_ROLLS"}}:({{damage.resultView}}){{#if damage.replaced}}->(DoS:{{damage.dos}}){{/if}}"><p><strong>{{localize "CHAT.DAMAGE"}}:</strong> <span class="damage-total">{{damage.total}}</span> <strong class="damage-type">{{../item.DamageTypeShort}}</strong></p></div>
            <p><strong>{{localize "CHAT.PENETRATION"}}:</strong> <span class="damage-penetration">{{penetration}}</span></p>
            {{#if damage.righteousFuryHitDetails}}
            <div title="{{localize "CHAT.RIGHTEOUS_FURY_HIT_ROLLS"}}: ({{damage.righteousFuryHitDetails}}) {{localize "CHAT.RIGHTEOUS_FURY_DMG_ROLLS"}}: ({{damage.righteousFuryDamageDetails}})"><strong>{{localize "CHAT.RIGHTEOUS_FURY"}}:</strong> <span class="damage-righteous-fury">{{damage.righteousFury}}</span></div>
			<div><p><strong>{{localize "CHAT.RIGHTEOUS_FURY_TOTAL_DAMAGE"}}:</strong> <span class="damage-righteous-fury">{{damage.righteousFuryTotalDamage}}</span></p></div>
            {{/if}}
        {{/each}}
    </div>
</div>
