<form class="{{cssClass}}" autocomplete="off">
    <div class="acolyte">
        <div class="header border">
            <div class="flex row">
                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
                
               
                    <div class="header-row"style="margin-left: 8px; width: 100%">
						<div class="information-row" style="width: 100%">
                            <div class="name header-row " style= "display: flex; padding-left: 2px; border: 0px solid black; margin: 2px; text-align: left; width: 100%;">
                                <label>{{localize "BIO.NAME"}}</label>
                                <input name="name" type="text"  value="{{actor.name}}" />
                            </div>
							<div style= "display: flex; border: 0px solid black; margin: 2px; text-align: left;">
                                <div class="gender wrapper" style= "display: flex; border: 0px solid black; margin: 2px; text-align: right; flex-grow: 1;">
                                    <label>{{localize "BIO.GENDER"}}</label>
                                        <select name="data.bio.gender" style="margin-left: 8px">
                                            {{#select data.bio.gender}}
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            {{/select}}
                                        </select>
                                </div>
                                <div class="age wrapper margin" style= "display: flex; border: 0px solid black; margin: 2px; text-align: left; flex-grow: 1;">
                                    <label>{{localize "BIO.AGE"}}</label>
                                    <input name="data.bio.age" type="text" value="{{data.bio.age}}" />
                                </div>
                                <div class="build wrapper margin" style= "display: flex; border: 0px solid black; margin: 2px; text-align: left; flex-grow: 1;">
                                    <label>{{localize "BIO.BUILD"}}</label>
                                    <input name="data.bio.build" type="text" value="{{data.bio.build}}" />
                                </div>
                                <div class="fate" style= "display: flex; border: 0px solid black; margin: 2px; text-align: left;">
                                    <label>{{localize "FATE"}}</label>
                                    <input style="margin-left: 6px" name="data.fate.value" type="number" value="{{data.fate.value}}" data-dtype="Number" />
                                    /
                                    <input name="data.fate.max" type="number" value="{{data.fate.max}}" data-dtype="Number" />
                                </div>
                            </div>
                            <div style= "display: flex; border: 0px solid black; margin: 2px; text-align: left;">
                                <div class="complexion wrapper margin" style= "display: flex; border: 0px solid black; margin: 2px; text-align: left; flex-grow: 1;">
                                    <label>{{localize "BIO.COMPLEXION"}}</label>
                                    <input name="data.bio.complexion" type="text" value="{{data.bio.complexion}}" />
                                </div>
                                <div class="hair wrapper margin" style= "display: flex; border: 0px solid black; margin: 2px; text-align: left; margin-left: 16px; flex-grow: 1;">
                                    <label>{{localize "BIO.HAIR"}}</label>
                                    <input name="data.bio.hair" type="text" value="{{data.bio.hair}}" />
                                </div>
                                <div class="fatigue" style= "display: flex; border: 0px solid black; margin: 2px; text-align: left;">
                                    <label>{{localize "FATIGUE"}}</label>
                                    <input name="data.fatigue.value" type="number" value="{{data.fatigue.value}}" data-dtype="Number" />
                                    /
                                    <input name="data.fatigue.max" type="number" value="{{data.fatigue.max}}" data-dtype="Number" />
                                </div>
                            </div>
                           
						</div>											
                        
					</div>

                </div>
        </div>

        <div class="sheet-tabs tabs flex row" data-group="primary">
            <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
            <b class="item" data-tab="combat">{{localize "TAB.COMBAT"}}</b>
            <b class="item" data-tab="abilities">{{localize "TAB.ABILITIES"}}</b>
            <b class="item" data-tab="psychic-powers">{{localize "TAB.PSYCHIC_POWERS"}}</b>
            <b class="item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
            <b class="item" data-tab="progression">{{localize "TAB.ADVANCES"}}</b>
            <b class="item" data-tab="notes">{{localize "TAB.NOTES"}}</b>
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/rogue-trader/template/sheet/actor/tab/stats.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/rogue-trader/template/sheet/actor/tab/combat.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="abilities">
                {{> systems/rogue-trader/template/sheet/actor/tab/abilities.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="psychic-powers">
                {{> systems/rogue-trader/template/sheet/actor/tab/psychic-powers.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/rogue-trader/template/sheet/actor/tab/gear.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="progression">
                {{> systems/rogue-trader/template/sheet/actor/tab/progression.html}}
            </div>
            <div class="tab" data-group="primary" data-tab="notes">
                {{> systems/rogue-trader/template/sheet/actor/tab/notes.html}}
            </div>
        </div>
    </div>
</form>