.rogue-trader.chat {
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
}

.rogue-trader.chat.item img {
    border: 0;
    display: block;
    margin: 0 auto 8px;
    max-height: 64px;
    width: auto;
}

.rogue-trader.chat h3 {
    font-family: var(--font-text);
    font-size: 25px;
    font-weight: normal;
    padding: 5px 0;
    margin: 4px 0;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}

.rogue-trader.chat .separator {
    border-top: 1px solid var(--color-border);
}

.rogue-trader.chat p {
    margin: 0 0 4px;
}

.rogue-trader.chat strong {
    font-family: var(--font-text);
    font-weight: normal;
    font-size: 25px;
}