<div class="rogue-trader dialog">
    <div class="flex row wrap background border" style="flex-basis: 100%;margin-bottom: 5px">
        <h1>{{localize name}}</h1>
        <div class="wrapper">
            <label>{{localize "DIALOG.TARGET"}}</label>
            <input id="target" type="number" value="{{baseTarget}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.MODIFIER"}}</label>
            <input id="modifier" type="text" value="{{modifier}}"/>
        </div>
        {{#if isMelee}}
        <div class="wrapper">
            <label>{{localize "DIALOG.ATTACK_TYPE"}}</label>
            <select id="attackType">
                {{#select attackType}}
                <option value="standard">{{localize "ATTACK_TYPE.STANDARD"}}</option>
                <option value="swift">{{localize "ATTACK_TYPE.SWIFT"}}</option>
                <option value="lightning">{{localize "ATTACK_TYPE.LIGHTNING"}}</option>
                <option value="called_shot">{{localize "ATTACK_TYPE.CALLED_SHOT"}}</option>
                {{/select}}
            </select>
        </div>
        {{/if}}
        {{#if isRange}}
        <div class="wrapper">
            <label>{{localize "DIALOG.RANGE"}}</label>
            <select id="range">
                {{#select range}}
                <option value="0" selected>{{localize "RANGE.NORMAL"}}</option>
                <option value="30">{{localize "RANGE.POINT_BLANK"}}</option>
                <option value="10">{{localize "RANGE.SHORT"}}</option>
                <option value="-10">{{localize "RANGE.LONG"}}</option>
                <option value="-30">{{localize "RANGE.EXTREME"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.ATTACK_TYPE"}}</label>
            <select id="attackType">
                {{#select attackType}}
                <option value="standard">{{localize "ATTACK_TYPE.STANDARD"}}</option>
                <option value="semi_auto">{{localize "ATTACK_TYPE.SEMI_AUTO"}}</option>
                <option value="full_auto">{{localize "ATTACK_TYPE.FULL_AUTO"}}</option>
                <option value="called_shot">{{localize "ATTACK_TYPE.CALLED_SHOT"}}</option>
                {{/select}}
            </select>
        </div>
        {{/if}}
        <div class="separator"></div>
        <div class="wrapper">
            <label>{{localize "DIALOG.DAMAGE"}}</label>
            <input id="damageFormula" type="text" value="{{damageFormula}}"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.TYPE"}}</label>
            <select id="damageType">
                {{#select damageType}}
                <option value="energy">{{localize "DAMAGE_TYPE.ENERGY"}}</option>
                <option value="impact">{{localize "DAMAGE_TYPE.IMPACT"}}</option>
                <option value="rending">{{localize "DAMAGE_TYPE.RENDING"}}</option>
                <option value="explosive">{{localize "DAMAGE_TYPE.EXPLOSIVE"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.BONUS"}}</label>
            <input id="damageBonus" type="number" value="{{damageBonus}}" data-dtype="Number"/>
        </div>
        <div class="wrapper">
            <label>{{localize "DIALOG.PENETRATION"}}</label>
            <input id="penetration" type="text" value="{{penetrationFormula}}" />
        </div>
    </div>
    <div>
        {{#if isRange}}
            <div class="wrapper">
                <table>
                <tr>
                <td style="padding:0 10px 0 10px;"><b>{{localize "DIALOG.CLIP"}}: </b>{{clip.value}}</td>
                <td style="padding:0 10px 0 10px;"><b>RoF: </b>1/{{#if rateOfFire.burst}}{{rateOfFire.burst}}{{else}}-{{/if}}/{{#if rateOfFire.full}}{{rateOfFire.full}}{{else}}-{{/if}}</td>
                </tr>
                </table>
            </div>
        {{/if}}
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>