<div class="flex wrap notes-tab">
    <div class="information border">
        <h1>{{localize "TITLE.ORIGIN_PATH"}}</h1>
        <div class="information-row full">
            <div class="bio">
                <label style="margin-left: 8px">{{localize "BIO.CAREER"}}</label>
            </div>
            <div class="bio">
                <select name="data.bio.career" style="margin-left: 8px">
                    {{#select data.bio.career}}
                    <option value="archMilitant">Arch-Militant</option>
                    <option value="astropathTranscendent">Astropath Transcendent</option>
                    <option value="explorator">Explorator</option>
                    <option value="missionary">Missionary</option>
                    <option value="navigator">Navigator</option>
                    <option value="rogueTrader">Rogue Trader</option>
                    <option value="seneschal">Seneschal</option>
                    <option value="voidMaster">Void-Master</option>
                    {{/select}}
                </select>
            </div>
            <div class="bio">
                <label style="margin-left: 16px">{{localize "BIO.RANK"}}</label>
            </div>
            <div class="bio">
                <input style="margin-left: 8px; width: 30px" name="data.experience.rank" type="number" value="{{data.experience.rank}}" data-dtype="Number" disabled />
            </div>
            <div class="bio">
                <label style="margin-left: 8px">{{localize "BIO.HOME_WORLD"}}</label>
            </div>
            <div class="bio">
                <select name="data.bio.homeworld" style="margin-left: 8px">
                    {{#select data.bio.homeworld}}
                    <option value="deathWorld">Death World</option>
                    <option value="forgeWorld">Forge World</option>
                    <option value="hiveWorld">Hive World</option>
                    <option value="imperialWorld">Imperial World</option>
                    <option value="nobleBorn">Noble Born</option>
                    <option value="voidBorn">Void Born</option>
                    {{/select}}
                </select>
            </div>
            <div class="bio">
                <label style="margin-left: 16px">{{localize "BIO.BIRTHRIGHT"}}</label>
            </div>
            <div class="bio">
                <select name="data.bio.birthright" style="margin-left: 8px">
                    {{#select data.bio.birthright}}
                    <option value="childOfTheCreed">Child of the Creed</option>
                    <option value="savant">Savant</option>
                    <option value="scapegrace">Scapegrace</option>
                    <option value="scavanger">Scavanger</option>
                    <option value="stubjack">Stubjack</option>
                    <option value="vaunted">Vaunted</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="information-row full">
            <div class="bio">
                <label style="margin-left: 8px">{{localize "BIO.LURE_VOID"}}</label>
            </div>
            <div class="bio">
                <select name="data.bio.lureOfTheVoid" style="margin-left: 8px">
                    {{#select data.bio.lureOfTheVoid}}
                    <option value="chosenByDestiny">Chosen by Destiny</option>
                    <option value="criminal">Criminal</option>
                    <option value="dutyBound">Duty Bound</option>
                    <option value="renegade">Renegade</option>
                    <option value="tainted">Tainted</option>
                    <option value="zealot">Zealot</option>
                    {{/select}}
                </select>
            </div>
            
            
            <div class="bio">
                <label style="margin-left: 16px">{{localize "BIO.TRIALS_TRAVAILS"}}</label>
            </div>
            <div class="bio">
                <select name="data.bio.trialsAndTravails" style="margin-left: 8px">
                    {{#select data.bio.trialsAndTravails}}
                    <option value="calamity">Calamity</option>
                    <option value="darkVoyage">Dark Voyage</option>
                    <option value="highVendetta">High Vendetta</option>
                    <option value="press-ganged">Press-ganged</option>
                    <option value="ship-lorn">Ship-lorn</option>
                    <option value="theHandOfWar">The Hand of War</option>
                    {{/select}}
                </select>
            </div>
            
            
            <div class="bio">
                <label style="margin-left: 16px">{{localize "BIO.MOTIVATION"}}</label>
            </div>
            <div class="bio">
                <select name="data.bio.motivation" style="margin-left: 8px">
                    {{#select data.bio.motivation}}
                    <option value="endurance">Endurance</option>
                    <option value="fortune">Fortune</option>
                    <option value="prestige">Prestige</option>
                    <option value="pride">Pride</option>
                    <option value="renown">Renown</option>
                    <option value="vengence">Vengence</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </div>
    <div class="description-editor border">
        <h1>{{localize "TITLE.DESCRIPTION"}}</h1>
        <div style="height: 142px; width: 100%">
            {{editor content=data.bio.description target="data.bio.description" button=true owner=owner editable=editable}}
        </div>
    </div>
    <div class="notes-editor border">
        <h1>{{localize "TITLE.NOTES"}}</h1>
        <div style="height: 358px; width: 100%">
            {{editor content=data.bio.notes target="data.bio.notes" button=true owner=owner editable=editable}}
        </div>
    </div>

</div>
