<div class="flex wrap stats">
    <div class="characteristics border">
        <h1>{{localize "TITLE.CHARACTERISTICS"}}</h1>
        <div class="left">
            {{#each data.characteristics as |characteristic key|}}
                {{#if characteristic.isLeft}}
                    {{> systems/rogue-trader/template/sheet/characteristics/left.html characteristic=characteristic key=key}}
                {{/if}}
            {{/each}}
        </div>
        <div class="right">
            {{#each data.characteristics as |characteristic key|}}
                {{#if characteristic.isRight}}
                    {{> systems/rogue-trader/template/sheet/characteristics/right.html characteristic=characteristic key=key}}
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="abilities border">
        <h1>{{localize "TITLE.TALENTS"}}</h1>
        <div class="item-list">
            <div class="flex header">
                <b class="name">{{localize "TALENT.NAME"}}</b>
                <b class="benefit">{{localize "TALENT.BENEFIT"}}</b>
            </div>
            <div class="items">
                {{#each actor.items as |item|}}
                    {{#if item.isAbilities}}
                        <div class="ability item flex row" data-item-id="{{item.id}}">
                            <div class="flex name item-edit">
                                <div class="image-container">
                                    <div class="image" style="background-image: url('{{item.img}}')"></div>
                                </div>
                                <div>{{item.name}}</div>
                            </div>
                            <div class="benefit">{{item.benefit}}</div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="skills border">
        <h1>{{localize "TITLE.SKILLS"}}</h1>
        <div class="flex row" style="flex-basis: 60%">
            <div class="flex column wrap" style="max-height: 330px;flex-basis: 50%">
                {{#each data.skills as |skill key|}}
                    {{#unless skill.isSpecialist}}
                        <div class="skill">
                            <div class="name">
                                <button class="roll-skill" data-skill="{{key}}">{{localize skill.label}}</button>
                            </div>
                            <input class="total" type="number" value="{{skill.total}}" data-dtype="Number" disabled />
                            <div class="information">
                                <input type="text" value="{{skill.advanceSkill}}" disabled />
                            </div>
                        </div>
                    {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="flex row" style="flex-basis: 40%">
            <div class="flex column" style="max-height: 330px;flex-basis: 100%;overflow-y: scroll">
                {{#each data.skills as |skill key|}}
                    {{#if skill.isSpecialist}}
                        <div class="item-list">
                            <div class="flex header">
                                <b class="name">{{localize skill.label}}</b>
                            </div>
                            <div class="items" style="overflow-y: visible">
                                {{#each skill.specialities as |speciality keySpe|}}
                                    {{#if speciality.isKnown}}
                                        <div class="speciality item flex row" data-skill="{{key}}">
                                            <div class="name">
                                                <button class="roll-speciality" data-speciality="{{keySpe}}">{{speciality.label}}</button>
                                            </div>
                                            <input class="total" type="number" value="{{speciality.total}}" data-dtype="Number" disabled />
                                            <div class="information">
                                                <input type="text" value="{{specialty.advanceSpec}}" disabled />
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
